.container-about {
    background-image: url(/imgs/planos.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
} 

.container-sections {
    margin: auto 0;
    display: flex;
    padding: 1.667rem;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.539);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(203, 203, 203, 0.25);
    border-radius: 8px;
}
.container-sections h2 {
    font-size: 1.955rem;
    text-align: center;
    font-family: 'Teko', sans-serif;
}
.section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 6px;
    border-bottom: .7px solid #020202;
}
.svg-about{
    width: 120px;
    height: 120px;
    box-sizing: content-box;
    padding-right: 8px;
    color: #1b940e;
}
.div-for-h2 {
    margin: auto;
    width: 60%;
    padding: 1rem 0;
    background: rgba(255, 255, 255, 0.539);
    backdrop-filter: blur(10px);
}
.div-for-h2 h2 {
    font-family: 'Teko', sans-serif;
    font-size: 1.8023rem;
    font-weight: 500;
    padding: 0 6px;
    color: #000;
    text-align: center;
}
.reveal-div {
    animation: slideInto 750ms ease-in;
}

.section-about p {
    font-size: 1.1023rem;
    color: #062f81;
}

@keyframes slideInto {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    transform: translateY(-50%);
    opacity: .1;
  }
  70% {
    transform: translateY(-10%);
    opacity: .8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  
}

@media (width > 768px) {
  .container-sections {
    max-width: 1200px;
    width: 70%;
    margin: auto;
  }
  .container-sections h2{
    font-size: 3.3rem;
    margin: auto;
  }
  .div-for-h2 h2 {
    font-size: 2.77rem;
  }
  .svg-about {
    width: 160px;
    height: 160px;
  }
  .section-about p {
    font-size: 2.3rem;
  }
}