.container-about {
    background-image: url(/imgs/planos.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
} 

.container-sections {
    margin: auto 0;
    display: flex;
    padding: 1.667rem;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.539);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(203, 203, 203, 0.25);
    border-radius: 8px;
}
.cust-font-h2 {
    font-family: 'Teko', sans-serif;
}

.svg-about{
    box-sizing: content-box;
    padding-right: 8px;
    color: #1b940e;
}
.cust-h2 {

    background: rgba(255, 255, 255, 0.539);
    backdrop-filter: blur(10px);
}

.reveal-div {
    animation: slideInto 750ms ease-in;
}

.section-about p {
    font-size: 1.1023rem;
    color: #062f81;
}

@keyframes slideInto {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    transform: translateY(-50%);
    opacity: .1;
  }
  70% {
    transform: translateY(-10%);
    opacity: .8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  
}

