.container-about {
    background-image: url(/imgs/planos.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
} 

.container-sections {
    width: 50%;
    margin: auto;
    display: flex;
    padding: 1.103rem;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.539);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(203, 203, 203, 0.25);
    border-radius: 8px;
}
.container-sections h2 {
    font-size: 1.955rem;
    font-family: 'Teko', sans-serif;
}
.section-about {
    width: 100%;
    padding: .333rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-about svg {
    width: 45px;
    height: 45px;
    padding-right: 8px;
    color: #1b940e;
}
.div-for-h2 {
    margin: auto;
    width: 50%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.539);
    backdrop-filter: blur(10px);
}
.div-for-h2 h2 {
    font-family: 'Teko', sans-serif;
    font-size: 1.8023rem;
    font-weight: 500;
    padding: 0 6px;
    color: #000;
    text-align: center;
}
.reveal-div {
    animation: slideInto 750ms ease-in;
}

.section-about p {
    font-size: 1.1023rem;
    color: #062f81;
}

@keyframes slideInto {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    transform: translateY(-50%);
    opacity: .1;
  }
  70% {
    transform: translateY(-10%);
    opacity: .8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  
}