
 .call-now-a {
    display: flex;
    width: max-content;
     text-decoration: none;
     padding: 10px 1.3rem;
     text-transform: uppercase;
     background-color: #058406; 
     color: #fff;
     border-radius: 6px;
     font-weight: 700;
     /* border: 2px solid #067407; */
 }
 .upper-text2-section2 {
    display: flex;
    margin: 1rem auto;
 }
 .upper-text2-section2 p, svg {
    color: #fff;
 }
 .call-now-a svg {
     padding:3px 6px;
     width: 40px;
     height: 40px;
     box-sizing: content-box;
     animation: phone-shaking 1200ms ease-in infinite;
 }
 .contact-now {
     font-family: 'Inter', sans-serif;
     font-size: clamp(.97rem, 1.558rem, 2.23rem);

 }
 @keyframes phone-shaking {
    0% { transform: translateY(0) }
    25% { transform: translateY(2.5px) }
    50% { transform: translateY(-2.5px) }
    75% { transform: translateY3(2.5px) }
    100% { transform: translateY(0) }
   }

@media (width > 769px) {
   .call-now-a {
      margin: 0;
   }
  
   .phone-now-icon {
      width: 70px;
      height: 70px;
   }
   .contact-now {
      font-size: 1.982rem;
   }
}