
 .call-a-cust {
   width: max-content;
   flex-direction: column;
   text-decoration: none;
   padding: 6px 12px;
   text-transform: uppercase;
   background-color: #058406; 
   color: #fff;
   border-radius: 9999px;
   font-weight: 700;
 }

 .phone-ico {
     padding:3px 6px;
     box-sizing: content-box;
 }
 .contact-now {
     font-family: 'Inter', sans-serif;
 }

