.pattern-contact {
    width: 100%;
    gap: 1.5rem;
    min-height: 100vh;
    background-image: repeating-linear-gradient(0deg, #343333, #343333 0.5px, transparent 0.5px, transparent);
    background-size: 100px 100px;
    background-color: #efeeef;
  }

.social-icon {
      display: inline;
      width: 100%;
      height: 80px;
      border-radius: 9px;
      background-color: #f6f4f3;
      box-shadow: 2px 3px 2px 2px rgba(0,0,0,0.9);

  }
.social-icon.email {
  color: #eccd56;
}

.social-icon.insta {
  color: rgba(193, 53, 132, 0.55);
}

.social-icon.face {
  color: #0d51dc8c;
}

.cust-bg-section {
  --r: 20px; /* radius */
  width: 100%;
  aspect-ratio: 1.5;
  border-radius: var(--r) 0/calc(2*var(--r)) 0;
  padding-block: var(--r);
  --_m:#0000 100%,#000 calc(100% + 1px);
  mask:
    conic-gradient(#000 0 0) content-box,
    radial-gradient(var(--r) at 100% 100%,var(--_m)) 0 100% no-repeat,
    radial-gradient(var(--r) at 0    0   ,var(--_m)) 100% 0 no-repeat;
  mask-size: var(--r) var(--r);
  background: rgba(23, 23, 23, 0.539);
  /* backdrop-filter: blur(10px); */
  /* border: 1px solid rgba(203, 203, 203, 0.25); */
}

