    
.custom-h1 {
   letter-spacing: 0.033em;
   position: relative;
   text-align: left;
   animation: slideIn 300ms infinite;
   -webkit-font-smoothing: antialiased;
 }
.custom-hero {
   background-color: rgba(0, 0, 0, .25);
   backdrop-filter: blur(8px);
   border-radius: 12px;
   border-right: 1.5px solid #fff;
}
  .reveal-title {
    animation: slideIn 500ms ease-out;
  }

.upper-text2 {
    display: flex;
    margin-left: 1.5rem;
    flex-direction: column;
    justify-content: center;
}

.cust-border {
   border-bottom: 1px solid #020202;
}
.cust-circle {
  clip-path: circle(40%);
}
.section-for-pfo {
   border-right: 1px solid #020202;
}
.reveal-imgs { 
   animation: slideIn 650ms ease-in;
}
.reveal-img2 {
   animation: slideIn 800ms ease-in;
}
.section-container-fo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.heading-in {
   animation: slideIn 750ms ease-out;
}

@keyframes slideIn {
   0% {
     transform: translateX(-100%);
     opacity: 0;
   }
   30% {
     transform: translateX(-50%);
     opacity: .3;
   }
   70% {
     transform: translateX(-10%);
     opacity: .4;
   }
   100% {
     transform: translateX(0);
     opacity: 1;
   }
 }
 @keyframes slideInto {
   0% {
     transform: translateY(-100%);
     opacity: 0;
   }
   30% {
     transform: translateY(-40%);
     opacity: .2;
   }
   70% {
     transform: translateY(-10%);
     opacity: .3;
   }
   100% {
     transform: translateY(0);
     opacity: 1;
   }
 }

