
.section-mainhero-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    gap: 1rem;
    align-items: space-between;
    font-family: 'Inter', sans-serif;
    }
    
.container-cta-hero {
   display: flex;
   flex: 1;
   width: 100%;
   align-items: center;
   flex-direction: column;
   justify-content: space-around;
}
.upper-text1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-upperp {
   display: flex;
   justify-content: center;
}

.upper-texth1 {
    color: #fff;
    letter-spacing: 0.033em;
    position: relative;
    font-size: clamp(1.6689rem ,3309rem, 4.232rem);
    font-weight: 800;
    text-align: left;
    color: #f6f6f6;
    animation: slideIn 300ms infinite;
    -webkit-font-smoothing: antialiased;
    text-shadow: -1px 5px 7px rgba(54, 48, 48, 0.92);
}

  .small-salto {
    margin-top: .3rem;
    margin-bottom: 6px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.0934em;
    font-style: italic;
  }

  .reveal-title {
    animation: slideIn 500ms ease-out;
  }

.upper-textp {
    color: #fff;
    width: 70%;
   padding-top: 2rem;
    text-align: left;
    font-size: clamp(1rem, 1.787rem, 2.523rem)
}
.upper-text2 {
    display: flex;
    margin-left: 1.5rem;
    flex-direction: column;
    justify-content: center;
}
.upper-text2-section2 a{
   display: flex;
   padding: .5rem 0;
}
.container-images-hero {
   display: flex;
   align-items: center;
   flex: 1;
   flex-direction: column;
   justify-content: center;
}

.aside-img3 {
    margin-top: 1.5rem;
    position: relative;
    clip-path: polygon(24.7% 0%, 75.3% 0%, 100% 50%, 75.3% 100%, 24.7% 100%, 0% 50%);
    background-color: #058406;
    width: 420px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside-img3 section {
    width: 380px;
    height: 320px;
    clip-path: polygon(24.7% 0%, 75.3% 0%, 100% 50%, 75.3% 100%, 24.7% 100%, 0% 50%);
    background-color: #fff;
    background-image: url('/imgs/panelbox.webp');
    background-position: 50% 50%;
    background-repear: no-repeat;
    background-size: cover;
   }

.aside-img4 {
   margin-top: -4rem;  
    clip-path: polygon(24.7% 0%, 75.3% 0%, 100% 50%, 75.3% 100%, 24.7% 100%, 0% 50%);
    background-color: #058406;
    width: 500px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside-img4 section {
    width: 460px;
    height: 370px;
    clip-path: polygon(24.7% 0%, 75.3% 0%, 100% 50%, 75.3% 100%, 24.7% 100%, 0% 50%);
    background-color: #fff;
    background-image: url('/imgs/panells.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
    background-position: 50% 50%;
}
.reveal-imgs { 
   animation: slideIn 650ms ease-in;
}
.reveal-img2 {
   animation: slideIn 800ms ease-in;
}
.section-container-fo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.div-container-fo {
   margin-left: 1rem;
   padding: 0 1rem;
   text-align: left;
}
.section-for-pfo {
   width: 70%;
}
.text-h2-fo {
    font-size: clamp(1.445rem, 2.02rem, 3.1rem);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    width: 70%;
    padding-bottom: 1rem;
}
.text-pfo {
    color: #25D366;
    width: 100%;
    font-size: clamp(0.996rem, 1.3667rem, 2.32rem);
    font-weight: 600;
    margin: .5rem;
}
.container-section-tablero { 
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #FFF;
   width: 540px;
   height: 500px;
   margin:1rem 0 ;
}
.container-section-tablero section {
   width: 90%;
   height: 90%;
   background-color: #fff;
   background-image: url('/imgs/testtingc.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   aspect-ratio: 1/1;
   background-position: 50% 50%;
}
.heading-in {
   animation: slideIn 750ms ease-out;
}
.tablero-in {
   animation: slideInto 750ms ease;
}

@keyframes slideIn {
   0% {
     transform: translateX(-100%);
     opacity: 0;
   }
   30% {
     transform: translateX(-50%);
     opacity: .3;
   }
   70% {
     transform: translateX(-10%);
     opacity: .7;
   }
   100% {
     transform: translateX(0);
     opacity: 1;
   }
 }
 @keyframes slideInto {
   0% {
     transform: translateY(-100%);
     opacity: 0;
   }
   30% {
     transform: translateY(-40%);
     opacity: .3;
   }
   70% {
     transform: translateY(-10%);
     opacity: .7;
   }
   100% {
     transform: translateY(0);
     opacity: 1;
   }
 }

 @media screen and (width < 930px) {
   .section-container-fo {
       min-height: 560px;
      flex-direction: column;
      height: auto;
      width: 100%;
   }
   .section-container-fo section {
      width: 90%;
   }
   
   .section-mainhero-container {
      height: auto;
      min-height: 100vh;
      padding-top: 1.167rem;
      padding-bottom: 0;
   }
   .container-images-hero {
      margin-bottom: 1.67rem;
   }
   .div-container-fo { 
      margin: 0 auto;
   }
   .upper-text1 {
      margin: auto;
   }
   .container-cta-hero {
      padding: 0 1.67rem;
      align-items: center;
   }
   .upper-text2 {
      margin: auto;
      padding: 1rem;
   }
}
@media screen and (width < 769px) {
   .aside-img3 {
      margin-top: 0;
   }
   .main-hero-container {
      max-width: 100%
   }  

}
 @media screen and (width < 520px) {
   
   .upper-text1 {
      width: 100%;
      margin: auto 0;
      align-items: flex-start;
      padding: 0;
   }
   .upper-texth1 {
      font-size: 2.923rem;
   }
   .section-upperp {
      width: 100%;
      display: block;
   }
   .upper-textp {
      width: 90%;
   }
   .upper-text2 { 
      padding-top: 1rem;
      margin: auto;
   }
   .container-imgs-hero { 
      width: 100%;
      padding: 2rem;
      margin: 0 auto;
   }
   .section-container-fo {
      height: auto;
      min-height: 560px;
      width: 100%;
   }
   .section-container-fo section{
      width: 90%;
   }
   .aside-img3 {
      max-width: 380px;
      width: 100%;
   }
   .aside-img3 section {
      max-width: 350px;
      width: 90%;
   }
   .aside-img4 {
      width: 100%;
      height: auto;
      min-height: 400px;
      max-width: 480px;
   }
   .aside-img4 section{
      width: 90%;
   }
}